main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--main-color);
}

.indhold-container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.cat-container {
  border: 2px var(--cat) solid;
  height: 50px;
  width: 70%;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat-container:hover {
  background-color: var(--cat);
  transition: ease-in-out 0.3s;
}

.cat-txt {
  font-family: Helvetica, sans-serif;
  color: var(--main-color);
  font-size: 20px;
}

.produkt-container {
  width: 75%;
  height: 100%;
}

.card-container {
  width: 100%;
  height: 100%;
  border: 2px red solid;
}

.prod-image {
  height: 83%;
}

.grid-produkter {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.title {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: var(--main-color);
}

.price,
.info {
  font-family: Helvetica, sans-serif;
  color: #7e7e7e;
}

@media only screen and (min-width: 600px) {
  .grid-produkter {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .card-container {
    height: 30vw;
    margin: 30px;
  }
}

@media only screen and (min-width: 1000px) {
  .cat-container {
    width: 40%;
  }

  .grid-produkter {
    width: 85%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .card-container {
    height: 20vw;
  }
}
